<!DOCTYPE html>
<head>
    <title>My Recipes</title>
</head>
<body>
    <h1><%=@recipe.name%></h1>
    <h3>Ingredients: <%=@recipe.ingredients%></h3>
    <h3>Cook Time: <%=@recipe.cook_time%> minutes</h3>

    <form method="POST" action="/recipes/<%= @recipe.id %>">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <button type="submit" value="delete">Delete this recipe</button>
    </form>
</body> 